@model Blog
@{
    ViewData["Meta"] = new string[3] { Model.MetaTitle, Model.MetaKeyword, Model.MetaDescription };
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<div id="fh5co-blog" class="fh5co-bg-section" style="padding-top:250px">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="fh5co-blog animate-box">
                            <div class="blog-text">
                                <span class="posted_on">@String.Format("{0:ddd, MMM d, yyyy}", Model.AddedOn)</span>
                                <h1>@Model.Name</h1>
                                <img class="img-responsive" src="@Model.PrimaryImageUrl" alt="@Model.Name">
                                <div>
                                    @Html.Raw(Model.Description)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h2>Categories</h2>
                @foreach (var p in (List<BlogCategory>)ViewBag.BlogCategory)
                {
                    <ul>
                        <li>
                            <a>
                                <h3><a asp-controller="Home" asp-action="MyBlogCategory" asp-route-id="1" asp-route-url="@p.Url">@p.Name</a></h3>
                            </a>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>
</div>


